{% extends "admin/header.html.twig" %}
{% block body %}
	<div id="layoutSidenav_content">
		<main>
			<div class="container-fluid">
				<h1 class="mt-4">Dashboard</h1>
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item active">Dashboard</li>
				</ol>
				<div class="card mb-4">
					<div class="card-header">
						<i class="fas fa-table mr-1"></i>
						Doctor Liste
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
								<thead>
									<tr>
										<th>Full name</th>
										<th>categorie</th>
										<th>Description</th>
										<th>image</th>
										<th>Update_Delete</th>

									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>Full name</th>
										<th>categorie</th>
										<th>Description</th>
										<th>image</th>
										<th>Update_Delete</th>
									</tr>
								</tfoot>
								<tbody>
									{% for doctor in doctors %}
										<tr>
											<td>{{doctor.fullname}}</td>
											<td>{{doctor.categorie}}</td>
											<td>{{doctor.description}}</td>
											<td>{{doctor.image}}</td>
											<td>
												<a href="{{ path('supp_doctor', {'id': doctor.id}) }}">
													Delete</a>
												<a href="{{ path('edit_doctor', {'id': doctor.id}) }}">Update</a>
											</td>
										</tr>
									{% endfor %}

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</div></body></html>{% endblock %}
